body {
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

#main-container {
  display: flex;
  gap: 5px;
}

#player {
  width: 600px;
  background: #332323;
  padding: 20px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.songs-container {
  padding: 15px;
  width: 100%;
  max-width: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.songs-list {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
}

.track {
  list-style-type: none;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.track:hover {
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  background-color: brown;
  opacity: 70%;
  font-size: 17px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.767);
}

.liFormatTime > .time {
  font-size: 17px;
  align-items: end;
}
